
.orderDetails table {
    margin: auto;
    width: 100%;
}

.orderDetails img {
    width: 70px;
    height: 100px;
    object-fit: cover;
}

.orderDetails table, th, tr, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}

table a {
    color: rgb(3, 165, 286);
}